:root {
  --background-color: #ffffff;
  --font-color: #000000;
  --memory-card-color: #a6c9a9;
  --easy-button-color: #f5e6e1;
  --medium-button-color: #aecfea;
  --hard-button-color: #b78fa2;
  --you-win: #5aeb66;
  --you-lose: #eb5a5a;
  --button-border: #573846;
}

@font-face {
  font-family: Lexend;
  src: local('Lexend'), url('fonts/Lexend-Regular.woff2') format('woff2'),
    url('fonts/Lexend-Regular.woff') format('woff');
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lexend';
  background-color: var(--background-color);
}

a {
  font-family: 'Lexend';
  text-decoration: none;
  color: var(--font-color);
  font-size: 24px;
}

h1 {
  font-size: 100px;
}

h2,
h3 {
  font-size: 60px;
}

h1,
h2 {
  margin-top: 70px;
}

button a {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: 2px solid var(--button-border);
  border-radius: 10px;
}

.memories-title,
.theme-title,
.difficulty-title,
.start-button,
.button-container,
.choice-buttons {
  display: flex;
  justify-content: center;
}

.button-container {
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 50px;
}

.start-button {
  margin-top: 100px;
}

.difficulty-buttons,
.theme-buttons,
.choice-buttons {
  display: flex;
  gap: 100px;
}

.start-button button,
.choice-buttons button,
.back {
  width: 150px;
  height: 65px;
}

.theme-buttons button,
.difficulty-buttons button {
  width: 175px;
  height: 100px;
}

.easy,
.medium,
.hard,
.hitman,
.fire-emblem,
.pokemon {
  border-radius: 20px;
  margin-top: 60px;
}

.easy,
.hitman,
.back-to-start {
  background-color: var(--easy-button-color);
}

.medium,
.fire-emblem,
.shuffle-cards {
  background-color: var(--medium-button-color);
}

.hard,
.pokemon,
.back {
  background-color: var(--hard-button-color);
}

.flash-cards {
  display: inline-block;
}

.flash-card {
  position: relative;
  width: 150px;
  height: 150px;
  /* background-color: var(--you-win); */
}

.flash-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.flash-card:hover .flash-card-inner {
  transform: rotateY(180deg);
}

.front-of-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--you-win);
}

.back-of-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--you-lose);
  transform: rotateY(180deg);
}

/* .flash-card {
  /* display: grid; */
/* grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(3, 80px); */
/* grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px); */
/* grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(5, 80px);
  background-color: var(--button-border);
  width: 80px;
  height: 80px;
  display: inline-block;
} */

/* .front-of-card {
  position: relative;
  width: 80px;
  height: 80px;
} */

/* .memory-card {
  width: 80px;
  height: 80px;
} */

.front-of-card img {
  /* object-fit: contain; */
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  /* background-color: var(--memory-card-color); */
  /* position: absolute; */
}
