:root {
  --background-color: #f7ede2;
  --font-color: #2a2d34;
  --memory-card-color: #b3e9c7;
  --easy-button-color: #b49fcc;
  --medium-button-color: #dfbbb1;
  --hard-button-color: #f56476;
  --back-to-start: #15616d;
  --start-button: #9ece9a;
  --shuffle-button: #ca6875;
  --button-border: #450920;
}

@font-face {
  font-family: Lexend;
  src: local('Lexend'), url('fonts/Lexend-Regular.woff2') format('woff2'),
    url('fonts/Lexend-Regular.woff') format('woff');
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lexend';
  background-color: var(--background-color);
}

a,
.choice-buttons p {
  font-family: 'Lexend';
  text-decoration: none;
  color: var(--font-color);
  font-size: 24px;
  text-align: center;
}

h1 {
  font-size: 100px;
}

h2,
h3 {
  font-size: 60px;
}

h1,
h2 {
  margin-top: 70px;
}

button,
.start-button,
.back-to-start,
.shuffle-cards {
  border: 2px solid var(--button-border);
  border-radius: 10px;
}

.start-button,
.hitman,
.fire-emblem,
.pokemon,
.easy,
.medium,
.hard,
.difficulty-buttons,
.theme-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.memories-title,
.theme-title,
.difficulty-title,
.start-button,
.button-container,
.choice-buttons {
  display: flex;
  justify-content: center;
}

.start-button {
  margin-top: 100px;
}

.difficulty-buttons,
.theme-buttons,
.choice-buttons {
  display: flex;
  gap: 100px;
}

.start-button,
.back-to-start,
.shuffle-cards {
  width: 150px;
  height: 65px;
}

.hitman,
.fire-emblem,
.pokemon,
.easy,
.medium,
.hard {
  width: 175px;
  height: 100px;
  border-radius: 20px;
  margin-top: 60px;
  border: 2px solid var(--button-border);
}

.easy,
.hitman,
.back-to-start {
  background-color: var(--easy-button-color);
}

.medium,
.fire-emblem,
.shuffle-cards {
  background-color: var(--medium-button-color);
}

.hard,
.pokemon,
.back {
  background-color: var(--hard-button-color);
}

.start-button {
  background-color: var(--start-button);
}

.flash-cards {
  display: inline-block;
  text-align: center;
}

.flash-cards-board {
  width: 60%;
  padding-left: 50%;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 380px;
  padding-top: 25px;
  margin-bottom: 50px;
  position: relative;
}

.flash-card {
  position: relative;
  width: 150px;
  height: 150px;
}

.flash-card-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border-radius: 10px;
}

.flash-card:hover .flash-card-inner {
  transform: rotateY(180deg);
}

.front-of-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}

.back-of-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--memory-card-color);
  transform: rotateY(180deg);
  border-radius: 10px;
}

/* .flash-card {
  /* display: grid; */
/* grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(3, 80px); */
/* grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px); */
/* grid-template-columns: repeat(6, 80px);
  grid-template-rows: repeat(5, 80px);
  background-color: var(--button-border);
  width: 80px;
  height: 80px;
  display: inline-block;
} */

.front-of-card img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.gif-and-startbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gif {
  width: 300px;
  display: flex;
}

.gif-and-startbutton img {
  width: 100%;
}

.difficuly-visual-cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.easy-map-container,
.medium-map-container,
.hard-map-container {
  display: flex;
}

.easy-map-container {
  width: 150px;
  height: 100px;
  flex-wrap: wrap;
}
.medium-map-container {
  width: 250px;
  height: 100px;
  flex-wrap: wrap;
}

.hard-map-container {
  width: 250px;
  height: 150px;
  flex-wrap: wrap;
}

.easy-map-container div,
.medium-map-container div,
.hard-map-container div {
  width: 30px;
  height: 30px;
  background-color: #573846;
  margin: 10px;
  border-radius: 5px;
}
